[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = ">=0.17.0,<0.20"
IPython = ">=8.26.0"
jcamp = ">=1.2.2"
Jinja2 = ">=3.1.4"
jupyter = ">=1.0.0"
jupyter-book = ">=1.0.2"
jupyter-cache = ">=0.6.1"
JupyterLab = ">=4.2.3"
matplotlib = ">=3.9.1"
mdit-py-plugins = ">=0.4.1"
nbclient = ">=0.6.8,<0.7"
nbmake = ">=1.5.4"
numpy = ">=2.0.0"
openbabel-wheel = ">=3.1.0"
pandas = ">=2.2.2"
pyparsing = ">=3.1.2"
requests = ">=2.23.2"
rdkit = ">=2024.3.3"
seaborn = ">=0.13.2"
sphinx = ">=7.2.6,<7.3.0"
sphinxcontrib-applehelp = ">=1.0.8"

[dev-packages]
ghp-import = ">=2.1.0"

[requires]
python_version = "3.12"